{% extends "layout.html.twig" %}

{% block title %}{{ blog.title }}  {% endblock %}
{% block page_title %}  {{ blog.title }} {% endblock %}

{% block content %}

    <article>

        <div class="container">
            <div class="field body">
                {{ blog.title }}
            </div>


            <div class="field create">
               Категория: {{ blog.category.name }}
            </div>
        </div>
    </article>

    <br/>
    <hr/>
    <a href="{{ path('blog_list') }}">Список записей</a><br/>

{% endblock %}